* {
    margin: 0;
    padding: 0;
}
body {
    font: 0.825em sans-serif;
    color: #444;
    background: #f1f1f1;
}
#header {
    background: #a3a3a3;
}
#header ul, #wrapper {
    margin: 0 auto;
}
#header ul {
    width: 959px;
    height: 30px;
    list-style: none;
    border-left: 1px solid #fff;
}
#header li {
    float: left;
}
#header li a {
    display: block;
    line-height: 30px;
    padding: 0 20px;
    border-right: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}
#header li a:hover {
    background: #939393;
}
#wrapper {
    width: 940px;
    margin-bottom: 50px;
    padding: 0 10px 20px 10px;
    background: #fff;
    -moz-border-radius: 0 0 1em 1em;
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
}
#user {
    text-align: right;
    padding-top: 4px;
    line-height: 16px;
    font-size: 11px;
}
.status {
    background-repeat: no-repeat;
    background-position: 9px 9px;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding: 9px 9px 9px 34px;
}
.status.confirm {
    color: #8da000;
    border: 1px solid #dcee66;
    background-color: #f6ffbe;
    background-image: url(img/ico/accept.png);
}
.status.info {
    color: #a08d00;
    border: 1px solid #eedc66;
    background-color: #fff6be;
    background-image: url(img/ico/note.png);
}
.status.alert {
    color: #a40;
    border: 1px solid #efa0b7;
    background-color: #ffeeee;
    background-image: url(img/ico/exclamation.png);
}
.status a {
    color: #666;
    text-decoration: none;
}
.status a:hover {
    text-decoration: underline;
}
h1, h2, h3 {
    margin-bottom: 0.6em;
}
p, table, ul {
    margin-bottom: 1em;
}
dl.stats {
    line-height: 1.4em;
}
dl.stats dt {
    clear: both;
    float: left;
    width: 100px;
}
dl.stats dd {
    min-height: 1.4em;
}
table.grid {
    width: 100%;
    border-spacing: 0;
}
table.grid tr:hover {
    background-color: #ffe !important;
}
table.grid th, table.grid td {
    text-align: left;
    padding: 4px;
}
table.grid th {
    background-color: #ccc;
}
table.grid td {
    border-bottom: 1px solid #ccc;
}
form p {
    clear: both;
}
form label {
    display: block;
    font-weight: bold;
    line-height: 1.4em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 6px;
}
form label em {
    font-style: normal;
    color: #f33;
}
form label span {
    margin-left: 0.5em;
    font-weight: normal;
    font-style: italic;
    color: #778;
    font-size: 11px;
}
input, textarea {
    font: 12px sans-serif;
    padding: 4px;
    border: 1px solid #778;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}
input:focus, textarea:focus, select:focus {
    background-color: #ffe !important;
}
input[size='80'], textarea[cols='80'] {
    width: 930px;
}
option {
    padding-right: 1em;
}
input.datetime {
    width: 172px;
    padding-right: 24px;
    background: url(img/ico/date_edit.png) no-repeat 180px 3px;
}
form small {
    display: block;
    color: #f33;
    font-size: 10px;
    line-height: 18px;
}
a img {
    border: 1px solid #ccc;
}