* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    color: #666;
}
h1 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}
h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 18px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 16px;
}
.spacer {
    clear: both;
    width: 1px;
    height: 0;
    overflow: hidden;
}
html, body {
    height: 100%;
}
body {
    background: #eeb;
    font: 16px/26px Georgia, "Times New Roman", Times, serif;
    color: #444;
}
#wrapper, #footer {
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
}
#wrapper {
    min-height: 100%;
    background: #fff/* url(img/960gs.gif) repeat-y 50% 0*/;
}
#footer {
    clear: both;
    background: #eeb;
    height: 50px;
    margin: -70px auto 0 auto;
    position: relative;
    border-top: 20px solid #fff;
}
#header {
    height: 80px;
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
}
#header ul {
    float: right;
    height: 30px;
}
#header li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0 0 20px;
}
#header a {
    text-decoration: none;
}
#header li a:hover {
    text-decoration: underline;
}
#header p {
    clear: both;
}
#header big {
    color: #000;
    margin-left: 10px;
    padding: 0 8px 4px 0;
    font-size: 32px;
    line-height: 46px;
    border-bottom: 4px solid #000;
}
#header big a {
    color: #000;
}
#footer p {
    float: left;
    width: 470px;
    font-size: 12px;
    line-height: 40px;
}
#footer p.rgt {
    text-align: right;
}
#footer p a {
    text-decoration: none;
}
#footer p a:hover {
    text-decoration: underline;
}
#content {
    float: left;
    width: 590px;
    margin: 0 0 20px 10px;
}
#content p {
    margin-bottom: 1em;
}
#content .post {
    margin-bottom: 4em;
}
#content .post_meta {
    margin-bottom: 1em;
}
#content .post_meta p {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}
#content .post_comment {
    margin-bottom: 10px;
    padding: 10px;
    background: #f0f0f0;
}
#content .post_comment_meta {
    font-style: italic;
    height: 30px;
}
#content .post_comment_meta img {
    float: right;
    border: 1px solid #fff;
    margin: 0 0 10px 10px;
}
#side {
    float: left;
    width: 300px;
    margin-left: 30px;
}
#side .widget {
    clear: both;
    border: 1px solid #444;
    height: 138px;
    margin-bottom: 20px;
}
#side .widgets .widget {
    clear: none;
    float: left;
    width: 138px;
}
#side .widgets .widget:first-child {
    margin-right: 20px;
}

form p {
    clear: both;
    padding-left: 80px;
}
form label {
    float: left;
    margin-left: -80px;
    width: 70px;
}
form small {
    display: block;
    font-size: 10px;
    line-height: 14px;
    color: #f33;
}
input[type='text'], textarea {
    font: 16px/26px Georgia, "Times New Roman", Times, serif;
    border: 1px solid #444;
    padding: 4px;
}
textarea[cols='70'] {
    width: 500px;
}
