* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    color: #666;
}
h1 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}
h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 18px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 16px;
}
body {
    background: #fff;
    font: 16px/26px Georgia, "Times New Roman", Times, serif;
    color: #444;
}
p {
    margin-bottom: 1em;
}
